<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Berita</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
                                                      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
                                                      crossorigin="anonymous" />
    <link rel="icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="../static.css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-danger py-2">
            <div class="container-fluid d-flex flex-column">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex align-items-center">
                        <img src="../img/sekolah.png" class="logo-img w-75 h-75" alt="Logo Sekolah" />
                    </div>

                    <div class="text-center flex-grow-1">
                        <p class="h3 text-white m-0 me-3 me-md-5">SD NEGERI 88 MANADO</p>
                        <div class="collapse navbar-collapse mt-0 w-100 justify-content-end" id="navbarContent">
                            <ul class="navbar-nav">
                                <li class="nav-item px-2"><a class="nav-link text-white"
                                                                                      th:href="@{/beranda}">Beranda</a>
                                </li>
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                                                                      data-bs-toggle="dropdown">Profil</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/profile}">Deskripsi</a></li>
                                        <li><a class="dropdown-item" th:href="@{/visi-misi}">Visi & Misi</a></li>
                                        <li><a class="dropdown-item" th:href="@{/struktur-organisasi}">Struktur
                                                Organisasi</a>
                                        </li>
                                        <li><a class="dropdown-item" th:href="@{/program}">Program</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item px-2"><a class="nav-link text-white" th:href="@{/berita}">Berita</a>
                                </li>
                                <li class="nav-item px-2"><a class="nav-link text-white" th:href="@{/galeri}">Galeri</a>
                                </li>
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                                                                      data-bs-toggle="dropdown">Informasi
                                        Sekolah</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{/prestasi}">Prestasi</a></li>
                                        <li><a class="dropdown-item" th:href="@{/ekstrakurikuler}">Ekstrakurikuler</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item px-2"><a class="nav-link text-white" th:href="@{/kontak}">Kontak</a>
                                </li>
                                <li class="nav-item px-2"><a class="nav-link text-white" th:href="@{/login}">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                                                                      data-bs-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <main>
        <div class="container py-4">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="p-4 mb-2 text-center fw-bold fs-3" style="background:#a0a09b;">
                        Berita
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 d-flex justify-content-end">
                    <form class="d-flex" style="max-width:350px; width:100%;" th:action="@{/berita}" method="get">
                        <input class="form-control me-2" type="search" placeholder="Cari" aria-label="Search"
                                                                          name="keyword" th:value="${keyword}">
                        <button class="btn btn-dark" type="submit">Cari</button>
                    </form>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-12" th:each="berita : ${beritaList}">
                    <div class="card w-100" style="background:#dedede;">
                        <div class="card-body">
                            <h5 class="fw-bold mb-1" th:text="${berita.title}">Judul Berita</h5>
                            <small class="d-block mb-2"
                                                                              th:text="${#dates.format(berita.date, 'd-M-yyyy')}">Tanggal</small>
                            <div th:text="${berita.description}">Deskripsi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
                                                      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
                                                      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.min.js"
                                                      integrity="sha384-VQqxDN0EQCkWoxt/0vsQvZswzTHUVOImccYmSyhJTp7kGtPed0Qcx8rK9h9YEgx+"
                                                      crossorigin="anonymous"></script>
</body>

</html>